<h1 style="font-family:verdana;"> <center>ðŸ“š List, Tuple &amp; Sets : iNeuron ðŸ“š</center> </h1>
<p><center style="color:#159364; font-family:cursive;">Thabaresh Syed,</center></p>
<p><center style="color:#159364; font-family:cursive;">thabaresh.syed@gmail.com</center></p>

#### 1. On amazon website we have the following available items - 

```python
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]
```
**Take the user input N no. of times and find out the total cost to be paid?**

OR

**You can ask the user quntity or the count of item?**

if the item is not present in the amazon website then print that item as out of stock and do add it total


HINT: while, for loop.. indexing

In [2]:
# given list
amazon_website = [("watch", 5000), ("phone", 10000), ("laptop", 50000), ("shirt", 1000)]

price=0
items=list()
while True:
    item=input("Enter item to buy = ")
    for i in amazon_website:
        if item in i[0]:
            price+=i[1]
            items.append(item)
            break
    else:
        print(f"{item} is not in stock")
    condition=int(input("Want to buy anything press 1 to continue / press 0 to checkout = ")) 
    if condition==0:
        break
            
print(f"Purchased items are = {items}")
print(f"Total price of purchased item is = {price}")

Enter item to buy = phone
Want to buy anything press 1 to continue / press 0 to checkout = 1
Enter item to buy = laptop
Want to buy anything press 1 to continue / press 0 to checkout = 0
Purchased items are = ['phone', 'laptop']
Total price of purchased item is = 60000

#### **2. What will be the output of the following code snippet?**


```
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")
```

In [4]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
for i in range(0, 6): 
    print(arr[i], end = " ")

#All elements are shifted by one position except last one.

2 3 4 5 6 6

Answer - **2 3 4 5 6 6** In python indexing starts from 0 and the given list is [1, 2, 3, 4, 5, 6] which of lenght 6 so the indices are range from **0 to 5**, In the first for loop range is taken as (1,6) that is from second element to last element and the statement inside the loop is arr[i-1] = arr[i] which means we are assigning present value to previous index and the last element is remain same, In the second loop we are taken range from (0,6) which is from first to last element and printing them

#### **3. Write a Python program to find the repeated items of a tuple.**

In [5]:
tuple1=tuple(map(int,input().split()))
print("Given tuple = ",tuple1)
repeated=list()
for i in tuple1:
    if i not in repeated and tuple1.count(i)>1:
        repeated.append(i)
print("Repeated elements of tuple are = ",tuple(repeated))

3 4 1 1 1 4 5 6 6 5
Given tuple =  (3, 4, 1, 1, 1, 4, 5, 6, 6, 5)
Repeated elements of tuple are =  (4, 1, 5, 6)

### **4. Replace last value of tuples in a list with 500. Try using list comprehension**

Example -: 
```
Input -:

[(10, 20, 40), (40, 50, 60), (70, 80, 90)]

Output -:
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]


```

In [6]:
tuple_list=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print("Given list of tuple : ",tuple_list)
new_tup_list=[t[:-1] + (500,) for t in tuple_list]
print("\nNew list of tuple after replacing last value of every tuple with 500 is = ")
print(new_tup_list)

Given list of tuple :  [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

New list of tuple after replacing last value of every tuple with 500 is =
[(10, 20, 500), (40, 50, 500), (70, 80, 500)]