<a href="https://colab.research.google.com/github/thabresh-data-scientist/Learn-Python-with-Me/blob/main/Data_Handling_Python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Handling - Python

1 - Write a program to  display float number with 2 decimal places using print()

e.g : Display 458.541315 as 458.54

In [ ]:
#write your code here

In [ ]:
n = 458.541315
round(n,2)

2. Mr Sharma has invested Rs. 27,500 in 200 shares of XYZ co. ltd and 52,500 in 250 shares of ABC co. ltd. Write a program to calculate the average investment cost per share.

In [ ]:
#write your code here.

In [ ]:
xyz_cst = 27,500
abc_cst = 52,500
xyz_share = 200
abc_share = 250
total_cst = xyz_cst + abc_cst
total_share = xyz_share + abc_share
cps = total_cst/total_share
print("The cost per share is ",cps)

3 - Write a program given 2 strings, s1 and s2, create a new string by appending s2 in the middle of s1.

e.g : 

inputs  : 
s1 = "Ault"
s2 = "Kelly" 

ouput : AuKellylt

In [ ]:
#write your code here.

In [ ]:
s1 = "Adult"
s2 = "Kelly"
m = len(s1)/2
m = int(m)
print(s1[:m]+s2+s1[m:])

4 - Write a program to given two strings s1 and s2 return a new string made of the first and last character of input strings.

Hint:-

inputs : s1 = "America"
s2 = "Japan"

output : AJan

In [ ]:
s1 = "America"
s2 = "Japan"
print(s1[0]+s2[0]+s1[-1]+s2[-1])

5 - Write a program to arrange string characters into lowercase letters.

e.g :  
input : str1 = PyThon

output : python

In [ ]:
#wite your code here.

In [ ]:
str1 = "PyThon"
print(str1.lower())

6 - Write a Python program to display the current date and time.

In [ ]:
from datetime import datetime

In [ ]:
now = datetime.now()
print(now)

7 - Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

In [ ]:
#write your code here.

In [ ]:
fn = input("Enter your first name: ")
print(fn[::-1])

8 - Write a Python program to find out square of user input.

In [ ]:
#write your code here.

In [ ]:
5**2

9 - Write a program  an int n, return True if it is within 10 of 100 or 200. Note: abs(num) computes the absolute value of a number.

In [ ]:
#write your code here.

In [ ]:
n = int(input("Enter the integer: "))
print(abs(100-n) <= 10 or abs(200 - n) <=10)

200
True

10 - Write a program to given a three-digit integer (i.e. an integer from 100 to 999). Find the sum of its digits and print the result.

e.g : Input :
476

Output :
17

In [ ]:
#write your code here.

In [ ]:
n = input("Enter the integer: ")
x = int(n[0]) + int(n[1]) + int(n[2])
print(x)