##List Manipulation - 3

1 - Write a program to create a empty list and append some items.

In [ ]:
v #write your code here.

In [ ]:
lt = []
lt.append('a')
lt

2 - Write a Python program to sum all the items in a list.

lt = [2,1,3,11,34]

In [ ]:
#write your code here.

In [ ]:
lt = [2,1,3,11,34 ]
n=len(lt)
s=0
for x in range(0 , n):
  s=lt[x]+s
print(s)

3 - Write a Python program to get the largest number from a list.

lt =[1,11,44,2,3,5,6,7,55]

In [ ]:
#write your code here.

In [ ]:
lt=[1,11,44,2,3,5,6,7,55]
print(max(lt))

4 - Write a Python program to get the second smallest number from a list.

lt = [1,2,7,4,11,5,9]

In [ ]:
#write your code here.

5 - Write a Python program to get the list in an ascending order.

lt = [1,2,5,7,9,3,4]

In [ ]:
#write your code here.

In [ ]:
list1 = [12, 45, 2, 41, 31, 10, 8, 6, 4] 

largest = list1[0]  
lowest = list1[0]  
largest2 = None
lowest2 = None
for item in list1[1:]:      
  if item > largest:  
    largest2 = largest 
    largest = item  
  elif largest2 == None or largest2 < item:  
      largest2 = item  
  if item < lowest:  
      lowest2 = lowest 
      lowest = item  
  elif lowest2 == None or lowest2 > item:  
      lowest2 = item  
              
print("Second Smallest element is:", lowest2)

6 - Write a Python program to remove duplicates items from a list.

lt = [1,2,5,4,3,1,6,7,3,43,2]

In [ ]:
#write your code here.

In [ ]:
lt = [1,2,5,4,3,1,6,7,3,43,2]

final_list = []
for num in lt:
    if num not in final_list:
        final_list.append(num)
print(final_list)

7 - Write a Python program to count similiar items from a list.

lt = [1,2,5,4,3,1,6,7,3,43,2]

In [ ]:
#write your code here.

In [ ]:
lt = [1,2,5,4,3,1,6,7,3,43,2]

lt1=[0,1,2,3,4,5,6,7,8,9]


for x in lt1:
  count = lt.count(x)
  if count > 1:
    print(str(x), count)

8 - Write a Python program to check a list is empty or not.

In [ ]:
#write your code here.

In [ ]:
lt = []

if len(lt)>0:
  print('list is not empty')
else:
  print('list is empty')

9 - Write a Python program to clone or copy a list.

lt = [1,2,3,4,5,6,7,8]

In [ ]:
#write your code here.

In [ ]:
lt = [1,2,3,4,5,6,7,8]
mylist = lt.copy()
print(mylist)

10 - Write a Python program that takes two lists and returns True if they have at least one common member.

In [ ]:
#write your code here.

In [ ]:
lt=[1,2,3,4,5]

lt1=[6,7,8, 1 , 2]

n = len(lt)

for x in range(0 , n):
  if lt[x] in lt1:
    print("yes" , +lt[x])
    break
  else:
    print("No" , +lt[x])